main {
  flex: 1;
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 1800px;
}

.main_info {
  width: 100%;
  max-width: 570px;
}

.main_info p {
  font-size: 25px;
  margin: 10px 0 35px;
}
